<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="com/aliexpress/boot/logging/logback/base.xml"/>

    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="ALIMONITOR"/>
            <appender-ref ref="APPLICATION"/>
        </root>
    </springProfile>

    <springProfile name="!production">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APPLICATION"/>
        </root>
    </springProfile>

</configuration>